.prime-center{
	justify-content: center;
	.prime-title{
		align-items: center;
	}
}
.checkout__wrapper{
	margin-bottom: 100px;
}
.checkout{
	display: flex;
	justify-content: center;
	gap: 30px;
	&__shipping,
	&__payment{
		max-width: 430px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.sort-top{
			position: relative;
			padding-bottom: 25px;
		}
		.sort-top::after{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $white;
		}
	}
	.shipping__item{
		padding: 20px 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		.shape__label{
			align-items: flex-start;
		}
		.shape__input + label::before{
			margin-top: 4px;
		}
	}
	.shipping__item::after{
		content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $white;
	}
	.shipping__item:last-child::after{
		content: none;
	}
}
.shipping__list{
	position: relative;
	height: 100%;
	
}
.shipping__list::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: $white;
}
.add__address{
	margin-top: 25px;
	max-width: 100%;
	.btn-text{
		padding: 10px 0;
	}
}
.pay{
	margin: 50px auto 20px;
	background-color: $current;
	border: none;
	border-radius: 25px;
	width: 100%;
	max-width: 430px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	.checkout__text{
		padding: 10px 0;
	}
	.checkout__img{
		top: 5px;
	}
}
.back{
	text-decoration: underline;
	text-transform: uppercase;
	@include fonts($roboto, 12px, 400, 30px, $black);
	display: flex;
	justify-content: center;
}