.faq{
	border: 1px solid rgba(136, 140, 149, 0.25);
	padding-top: 50px;
	padding-bottom: 100px;
	.h2{
		text-align: left;
		padding-bottom: 50px;
	}
	.sort-top{
		justify-content: flex-start;
	}
}
.faq__box{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.answer{
	display: none;
}