.main{
	width: 100%;
}
.bread{
	display: flex;
	align-items: center;
	gap: 5px;
}
.bread-link{
	@include fonts($roboto, 15px, 400, 25px, $grey);
	text-decoration: underline;
}
.bread-before{
	@include fonts($roboto, 15px, 400, 25px, $grey);
	text-decoration: underline;
}
.bread-text{
	@include fonts($roboto, 15px, 400, 25px, $grey);
}
.bread-sep{
	@include fonts($roboto, 15px, 400, 25px, $grey);
}
.baner{
	background-image: url('./../img/bg.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	max-width: 100%;
	min-height: 650px;
	padding: 50px 0;
	display: flex;
	align-items: flex-end;
	&__block{
		max-width: 641px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&-text{
		margin-top: 40px;
	}
	.read{
		max-width: 315px;
		display: flex;
		align-items: center;
		background-color: transparent;
		border: 2px solid $yellow;
		border-radius: 25px;
		padding: 3.4px 0;
		margin-top: 30px;
		cursor: pointer;
		&-text{
			@include fonts($roboto, 12px, 900, 30px, $white);
			text-transform: uppercase;
			margin: 0 auto;
		}
		.arrow{
			background-color: $white;
			border-radius: 20px;
			padding: 8.5px 8px;
			margin:0 5px;
			display: flex;
		}
	}
	.read:hover{
		background-color: $yellow;
		.read-text{
			color: $grey;
		}
	}
}
.catalog{
	max-width: 98%;
	width: 100%;
	margin: 100px auto;
	.container{
		width: 100%;
		max-width: 100%;
		position: relative;
	}
	.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
			content: none;
		}
		.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
			content: none;
		}
		.swiper-button-next{
			position: relative;
			cursor: pointer;
			margin: 0;
			width: 24px;
			height: 24px;
			background-color: $white;
			display: flex;
			justify-content: flex-end;z-index: 10;
		}
		.swiper-button-next:hover{
			path{
				stroke: $current;
			}
		}
		
		.swiper-button-prev{
			position: relative;
			cursor: pointer;
			margin: 0;
			width: 24px;
			height: 24px;
			background-color: $white;
			display: flex;
			justify-content: flex-start;
		}
		.swiper-button-prev:hover{
			path{
				stroke: $current;
			}
		}
	.mySwiper{
		width: 95%;
      height: 100%;
		padding: 50px 15px 20px;
		border-radius: 25px;
		.swiper-wrapper{
			display: flex;
		}
		
	}

}
.swiper__wrapper{
	display: flex;
	align-items: center;
}
.card:hover{
	.size{
		opacity: 1;
		position: relative;
	}
}
.card, .card2{
	user-select: none;
	position: relative;
		padding: 15px;
	&-top{
			position: relative;
			display: block;
		}
		&__img{
			border-radius: 30px;
			width: 100%;
			height: 500px;
			object-fit: cover;
			object-position: center;
			background-color: $white;
		}
		.like{
			position: absolute;
			right: 40px;
			top: 40px;
			z-index: 1;
			cursor: pointer;
		}
	}
.card:hover::before, .card2:hover::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
}
.thing{
	padding:30px 10px;
	display: flex;
	justify-content: space-between;
	position: relative;
	gap: 10px;
	&__name{
		max-width: 180px;
		text-align: left;
		@include fonts($roboto, 15px, 500, 1.667, $black);
	}
	.price{
		@include fonts($roboto, 15px, 700, 1.667, $black);
			text-align: right;
			display: flex;
			flex-direction: column;
			.discount{
				@include fonts($roboto, 15px, 700, 1.667, $grey);
				text-decoration:line-through;
			}
	}
}
.size{
	opacity: 0;
	&__list{
		list-style: none;
		display: flex;
		gap: 5px;
	}
	&__item{
		border: 1px solid rgba(136, 140, 149, 0.25);
		@include fonts($roboto, 10px, 400, 2.14, $grey);
		text-transform: uppercase;
		text-align: center;
		padding:0 5px;
		border-radius: 25px;
		min-width: 23px;
		cursor: pointer;
	}
}
.sizeActive{
	background-color: $current;
	color: $white;
}
.likeActive{
	path{
		fill: $current;
		stroke: transparent;
	}
}
.category{
	&__list{
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__item{
		position: relative;
		width: 100%;
		max-width: 32%;
	}
	&__bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 35px 20px;
	}
	&__text{
		@include fonts($roboto, 20px, 600, 1.25, $white);
		text-transform: uppercase;
	}
	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		padding: 11px 10px 9px 9.5px;
		border-radius: 25px;
	}
	&__bg{
		position: relative;
		width: 100%;
	}
	&__img{
		user-select: none;
		width: 100%;
		position: relative;
	}
	.new-marker{
		position: absolute;
		left: 0;
		top: 25px;
		width: 85px;
		@include fonts($roboto, 15px, 500, 25px, $black);
		text-transform: uppercase;
		background-color: $new;
		border-radius: 0 25px 25px 0;
		padding: 12.5px 31px 12.5px 21px;
	}
}

.category__item:hover{
	.category__bg{
		filter: grayscale(100%);
	}
	.category__link{
		background-color: $current;
		path{
			fill:$white;
		}
	}
}
.section{
	margin-top: 150px;
	margin-bottom: 150px;
	.container{
		display: flex;
		align-items: center;
		gap: 20px;
		border-radius: 25vw;
		overflow: hidden;
	}
}
.regular{
	position: relative;
	width: 100%;
	max-width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.regular__img{
	width: 100%;
	height: auto;
	position: relative;
	left: 0;
	top: 0;
	// border-radius: 25vw 0 0 25vw;
}
.bright__img{
	width: 100%;
	height: auto;
	position: relative;
	right: 0;
	top: 0;
	// border-radius: 0 25vw 25vw 0;
}
 .regular__text{
	position: absolute;
	width: 86%;
}
.bright__text{
	position: absolute;
	width: 70%;
}
.bright{
	position: relative;
	width: 100%;
	max-width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	.section__text::after{
		content: "";
		width: 70%;
		opacity: 0.5;
		position: absolute;
		top: 50%;
		right: 0px;
		border: 3px solid $yellow;
	}
	.section__bottom::before{
		content: "";
		width: 40%;
		opacity: 0.5;
		position: absolute;
		top: 50%;
		left: 10px;
		border: 3px solid #ffec53;
	}
}
.regular:hover,
.bright:hover{
	.regular__img, .bright__img{
		filter: grayscale(100%);
	}
}
.section__text{
	@include fonts($roboto, 35px, 500, 1.429, $white);
	text-transform: uppercase;
	text-align: left;
	position: relative;
	padding-left: 6px;
}
.section__text::after{
	content: "";
	width: 70%;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	right: 0px;
	border: 3px solid $yellow;
}
.section__bold{
	@include fonts($roboto, 9vw, 900, 0.833, $white);
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
.section__bottom{
	@include fonts($roboto, 50px, 100, 1, $white);
	text-transform: uppercase;
	text-align: right;
	position: relative;
}
.section__bottom::before{
	content: "";
	width: 50%;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	left: 10px;
	border: 3px solid $yellow;
}
.banner{
	  background-image: linear-gradient( 0deg, rgb(230,220,210) 0%, rgb(215,195,186) 100%);
	  max-height: 500px;
	  .container{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	  }
	&__bg{
		height: 500px;
		max-width: 900px;
		width: 100%;
	}
	.see-more{
		border-radius: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 315px;
		width: 100%;
		height: 55px;
		background-color: $yellow;
		text-decoration: none;
		margin-bottom: 25px;
		.btn-text{
			@include fonts($roboto, 12px, 900, 30px, $grey);
			text-transform: uppercase;
			margin: 0 auto;
		}
		.arrow{
			background-color: $white;
			border-radius: 20px;
			padding: 8.5px 8px;
			margin-right: 5px;
			display: flex;
		}
		
	}
}
.see-more:hover{
	.btn-text{
		color: $white;
	}
}


.mySwiper1{
		width: 95%;
      height: 100%;
		padding: 50px 10px 25px;
		.swiper-wrapper{
			display: flex;
		}
		
	}