@media screen and (max-width: 1480px){
	.footer .menu__list{
		gap: 20px;
	}
}
@media screen and (max-width: 1366px){
	.footer .menu__list{
		gap: 15px;
	}
	.footer .menu__item a {
		padding: 0 10px;
	}
}
@media screen and (max-width: 1200px){
	.header{
		position: relative;
	}
.catalog .mySwiper {
    width: 85%;
}
.burger-menu{
    width: 40px;
    display: block;
    transition: all .3s;
    cursor: pointer;
    height: 30px;;
    .bar{
		transition: all .3s;
      height: 2px;
      width: 100%;
      display: block;
      background-color: $grey;
	}
      
    .bar:nth-of-type(2){
      margin: 8px 0;
	}
      
    &--closed{
      transition-delay: .3s;
      .bar:nth-of-type(2){
        width: 75%;
        transition-property: margin, height, width;
        transition-delay: .3s, .3s, 0s;
		}
      .bar:nth-of-type(3){
        width: 50%;
		} 
      &:hover{
        .bar:nth-of-type(2){
          width: 100%;
			}
        .bar:nth-of-type(3){
          width: 100%;
			}
			}
			}
         
    &--opened{
      padding-top: 12px;
      .bar:nth-of-type(1){
        transform: rotate(45deg);
        transition-delay: .3s;
        height: 2px;
		}
      .bar:nth-of-type(2){
        opacity: 0;
        height: 0;
        margin: -3px;
		}
      .bar:nth-of-type(3){
        transform: rotate(-45deg);
        transition-delay: .3s;
        height: 2px;
		}
	}
}
	.menu{
		display: none;
		transform: translateY(-1000%);
		transition: .2s;
	}
	.block__right{
		display: none;
	}
	.menu-active{
		transform: translateY(0);
		transition: 0.2s;
		display: flex;
		flex-direction: column;
		.block__right-hide{
			padding: 0 20px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 32px;
			position: relative;
			
		}
	}
	.footer .block__right{
		display: flex;
	}
	.second-menu{
		display: none;
	}
	.banner{
		max-height: 100%;
		.container{
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}
	}
	.footer{
		.block{
			flex-direction: column;
			gap: 20px;
		}
	}
	.prime{
		.text{
			max-width: 50%;
		}
	}
	.prime-wrapper{
		flex-direction: column;
	}
	.prime-title{
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 20px;
	}
	.catalog__list .card,
	.list2 .card{
		max-width: 33%;
	}
	.catalog__list .semi,
	.list2 .semi {
    max-width: 66%;
}
}
@media screen and (max-width: 992px){
	.footer__bottom{
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
	.prime{
		.text{
			max-width: 100%;
		}
	}
	.prime-wrapper{
		flex-direction: column;
	}
	.prime-title{
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 20px;
	}
	.inner-active{
		flex-direction: row-reverse;
	}
	.main-wrapper .filter-active{
		position: absolute;
		background-color: $white;
		z-index: 2;
		height: auto;
		border-radius: 25px;
	}
}
@media screen and (max-width: 768px){
	.menu-active{
		padding: 20px;
		.new__item a {
			padding-left: 20px;
		}
	}
	.menu__block{
		flex-direction: column;
		align-items: center;
	}
	.block__right-hide{
		flex-wrap: wrap;
	}
	.category__list{
		flex-direction: column;
	}
	.category__item{
		max-width: 100%;
	}
	.section .container{
		flex-direction: column;
	}
	.regular{
		max-width: 100%;
		border-radius: 25px;
		.regular__img{
			border-radius: 25px;
		}
		.regular__text{
			width: 100%;
			padding: 20px;
		}
	}
	.bright{
		max-width: 100%;
		border-radius: 25px;
		.bright__img{
			border-radius: 25px;
		}
		.bright__text{
			width: 100%;
			padding: 20px;
		}
	}
	.h2 {
		font-size: 40px;
	}
	
	.section__text,
	.section__bottom{
		font-size: 30px;
	}
	.section__text::after{
		width: 50%;
	}
	.footer .menu__list{
		gap: 0;
	}
	.documents{
		gap: 10px;
	}
	.thing{
		flex-direction: column;
		align-items: center;
	}
	.baner__title{
		font-size: 50px;
		line-height: 60px;
		text-align: center;
	}
	.baner-wrapper{
		padding: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
		.see-more{
			margin-bottom: 0;
		}
	}
}
@media screen and (max-width: 576px){
	.footer .menu__list{
		flex-direction: column;
	}
	.footer .block__right{
		flex-direction: column;
	}
	.documents{
		flex-direction: column;
	}
	.catalog__list .card, .list2 .card{
		max-width: 50%;
	}
	.catalog__list .semi, .list2 .semi{
		max-width: 100%;
	}
}
@media screen and (max-width: 414px){
	.filter__block{
		padding: 0 10px;
	}
	.filter__title{
		    padding: 0 10px 23px;
	}
	.size__list{
		flex-wrap: wrap;
	}
}