@media screen and (max-width: 1480px){
	.footer .menu__list{
		gap: 20px;
	}
	// size calculator 
	.block__middle {
		.bra__size,
		.bra__bust,
		.bra__cup{
			max-width: 33%;
		}
	}
}
@media screen and (max-width: 1366px){
	.footer .menu__list{
		gap: 15px;
	}
	.footer .menu__item a {
		padding: 0 10px;
	}
	// change-account-info
	.data__wrapper .address__label{
		max-width: 47%;
	}
	// order-history
	.order-history{
		flex-direction: column;
		.sidebar-account{
			max-width: 100%;
		}
	}
	// 
	.contacts-data{
		flex-direction: column;
		gap: 20px;
	}
}
@media screen and (max-width: 1200px){
	.sidebar-account{
		padding: 30px;
	}
	.header{
		position: relative;
	}
.catalog .mySwiper {
    width: 85%;
}
.burger{
	display: block;
	width: 33%;
}
.burger-menu{
    width: 40px;
    display: block;
    transition: all .3s;
    cursor: pointer;
    height: 30px;
    .bar{
		transition: all .3s;
      height: 2px;
      width: 100%;
      display: block;
      background-color: $grey;
	}
      
    .bar:nth-of-type(2){
      margin: 8px 0;
	}
      
    &--closed{
      transition-delay: .3s;
      .bar:nth-of-type(2){
        width: 75%;
        transition-property: margin, height, width;
        transition-delay: .3s, .3s, 0s;
		}
      .bar:nth-of-type(3){
        width: 50%;
		} 
      &:hover{
        .bar:nth-of-type(2){
          width: 100%;
			}
        .bar:nth-of-type(3){
          width: 100%;
			}
		}
	}

    &--opened{
      padding-top: 12px;
      .bar:nth-of-type(1){
        transform: rotate(45deg);
        transition-delay: .3s;
        height: 2px;
		}
      .bar:nth-of-type(2){
        opacity: 0;
        height: 0;
        margin: -3px;
		}
      .bar:nth-of-type(3){
        transform: rotate(-45deg);
        transition-delay: .3s;
        height: 2px;
		}
	}
}
	.menu{
		display: none;
		transform: translateY(-1000%);
		transition: .2s;
	}
	.block .head-page{
		width: 33%;
		justify-content: center;
	}
	.block__right{
		width: 33%;
		justify-content: flex-end;
		.phone,
		.lang{
			display: none;
		}
		.social{
			padding-right: 0;
			.social__icon{
				width: 45px;
				padding: 10px;
			}
		}
	}
	.footer .block__right{
		display: flex;
	}
	.second-menu{
		display: none;
	}
	.banner{
		max-height: 100%;
		.container{
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}
	}
	.footer{
		.block{
			flex-direction: column;
			gap: 20px;
		}
	}
	.prime{
		.text{
			max-width: 100%;
		}
	}
	.prime-wrapper{
		flex-direction: column;
	}
	.prime-title{
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 20px;
	}
	.catalog__list .card,
	.list2 .card{
		max-width: 33%;
	}
	.catalog__list .semi,
	.list2 .semi {
    max-width: 66%;
	}
	// menu 
	
	.menu-active{
		display: block;
		transform: translateY(0);
		position: absolute;
		left: 0;
		padding: 20px;
		background-color: $white;
		width: 100%;
		.person{
			margin: 0 auto;
			width: 100%;
			justify-content: center;
		}
		.menu__block-span{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
		.submenu__new::before,
		.submenu__new::after{
			content: none !important;
		}
		.menu__block{
			flex-direction: column;
		}
		.menu__item {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}
		.mobile-arrow{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.submenu{
			padding: 0;
		}
		.menu__item a,
		.delivery__item a, .about__item a{
			padding: 0;
		}
	}
	.submenu-active{
		.submenu{
			max-width: 100%;
		}
		.submenu__wrapper {
			top: 0;
			display: block;
			padding: 20px;
			background-image: none;
			height: 100%;
			.submenu__list{
				margin-top: 10px;
				gap: 10px;
			}
			}
		.arrow-back{
			display: block;
		}
		.submenu{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.submenu__item{
			border: none;
			padding: 0;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
		}
		.submenu__container{
		display: none;
	}
	.submenu-item-active{
		.submenu__container{
			display: flex;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			background-color: $white;
			padding: 20px;
			justify-content: flex-start;
		}
	}
	.mobile2-arrow{
		display: block;
		width: 24px;
		height: 24px;
	}
}
	.submenu__item-span{
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}
	.block__right-hide{
		display: block;
		position: relative;
		.social{
			display: none;
		}
	}
	.delivery__item,
	.about__item{
		display: flex;
		width: 100%;
	}

	// item

	.item__gallery{
		max-width: 430px;
		flex-direction: column-reverse;
	}
	.preview{
		max-width: 100%;
		justify-content: center;
	}
	.preview__img{
		width: 100%;
		max-width: 30%;
	}
	// addressChange
	.address__wrapper{
		.address__label{
			max-width: 100%;
		}
	} 
	// address book
	.address__list{
		.address__item{
			flex-direction: column;
		}
		.check-default{
			justify-content: center;
			margin-bottom: 20px;
		}
	}
	// change-account-info
	.data__wrapper .address__label{
		max-width: 100%;
	}
	// size calculator
	.select-wrapper{
		width: 100%;
		padding: 10px;
	}
	// login
	.login__forms{
		.login__email, .login__social{
			max-width: 50%;
		}
	}
	// simple__page
	.simple__page{
		align-items: center;
	}
	// account
	.orders{
		overflow: auto;
		.table{
			width: 1000px;
		}
	}
	// order
	.order-page{
		flex-direction: column;
		.sidebar-account{
			max-width: 100%;
		}
	}
}
@media screen and (max-width: 992px){
	.footer__bottom{
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
	.prime{
		.text{
			max-width: 100%;
		}
	}
	.prime-wrapper{
		flex-direction: column;
	}
	.prime-title{
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 20px;
	}
	.inner-active{
		flex-direction: row-reverse;
	}
	.main-wrapper .filter-active{
		position: absolute;
		background-color: $white;
		z-index: 2;
		height: auto;
		border-radius: 25px;
	}
	// item
	.item__gallery{
		max-width: 35%;
	}
	.item__description{
		max-width: 60%;
	}
	.item__img {
		width: 100%;
		max-width: 430px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
		height: 400px;
	}
	.preview__img {
		max-width: 47%;
	}
	.size__wrap{
		flex-wrap: wrap;
	}
	// cart
	.cart__container{
		flex-direction: column;
	}
	.cart__list{
		max-width: 100%;
	}
	.sidebar{
		max-width: 100%;
	}
	// wish list 
	.sidebar-account{
		display: none;
	}
		// addressChange
	.address__wrapper{
		.address__label{
			max-width: 47%;
		}
	} 
	// address book
	.address__list{
		.address__item{
			flex-direction: row;
		}
		.check-default{
			justify-content: flex-end;
			margin-bottom: 0px;
		}
	}
	// change-account-info
	.data__wrapper{
		justify-content: space-between;
	 .address__label{
		max-width: 47%;
	}}
	// order-history
	.order-history{
		.order__box{
			overflow-x: scroll;
			.table{
				width: 1000px;
			}
		}
	}
	// contacts
	.contact{
		.change__wrapper{
			flex-direction: column;
		}
		.form-contact{
			max-width: 100%;
		}
	}
	// account
	.address__container{
		.account-data{
			max-width: 100%;
		}
	}
	// cart modal
	.cart-wrapper{
		max-width: 40%;
	}
}
@media screen and (max-width: 768px){
	.catalog{
		margin-top: 70px;
		margin-bottom: 50px;
	}
	.section{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.menu__block{
		flex-direction: column;
		align-items: center;
	}
	.block__right-hide{
		flex-wrap: wrap;
	}
	.category__list{
		flex-direction: column;
	}
	.category__item{
		max-width: 100%;
	}
	.section .container{
		flex-direction: column;
		border-radius: 0;
	}
	.regular{
		max-width: 100%;
		border-radius: 25px;
		.regular__img{
			border-radius: 25px;
		}
		.regular__text{
			width: 100%;
			padding: 20px;
		}
	}
	.bright{
		max-width: 100%;
		border-radius: 25px;
		.bright__img{
			border-radius: 25px;
		}
		.bright__text{
			width: 100%;
			padding: 20px;
		}
	}
	.h2 {
		font-size: 40px;
	}
	
	.section__text,
	.section__bottom{
		font-size: 30px;
	}
	.section__text::after{
		width: 50%;
	}
	.footer .menu__list{
		gap: 0;
	}
	.documents{
		gap: 10px;
	}
	.thing{
		flex-direction: column;
		align-items: center;
	}
	.baner__title{
		font-size: 50px;
		line-height: 60px;
		text-align: center;
	}
	.baner-wrapper{
		padding: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
		.see-more{
			margin-bottom: 0;
		}
	}
	// item 
	.cloth{
		flex-direction: column;
		max-width: 100%;
	}
	.item__gallery{
		max-width: 100%;
	}
	.item__img{
		margin: 0 auto;
	}
	.preview__img {
		max-width: 30%;
	}
	.item__description{
		max-width: 100%;
		.bread{
			justify-content: center;
		}
		.item__title{
			text-align: center;
		}
		.add_to_cart{
			margin: 44px auto 0;
		}
	}
	// address book
	.address__list{
		.address__item{
			flex-direction: column;
		}
	}
	//  size calculator
	.step4{
		.bra{
			flex-direction: column;
			.bra__size,
			.bra__bust,
			.bra__cup{
				max-width: 100%;
			}
		}
	}
	.title{
		font-size: 40px;
		line-height: 50px;
	}
	.checkout{
		flex-direction: column;
	}
	.checkout__shipping,
	.checkout__payment{
		max-width: 100%;
	}
	// login
	.login__forms{
		flex-direction: column;
		.login__email, .login__social{
			max-width: 100%;
		}
	}
	.grey {
		padding: 20px;
	}
	.title{
		text-align: center;
	}
	// account
	.mySwiper3{
		.swiper-slide{
			justify-content: center;
		}
	}
	// order
	.order-page{
		.order__details{
			flex-direction: column;
			.order__list{
				max-width: 100%;
			}
			.products__list{
				max-width: 100%;
			}
		}
	}
	// faq
	.faq .h2{
		text-align: center;
	}
	// search
	.search-box{
		max-width: 100%;
	}
	// cart modal
	.cart-wrapper{
		max-width: 50%;
	}
	// modal
	.modal__wrapper{
		top: 50px;
		max-width: 80%;
		padding: 20px;
	}
}
@media screen and (max-width: 576px){
	.block__right{
		display: none;
	}
	.block__right-hide{
		display: flex;
		flex-direction: column;
		gap: 20px;
		.social{
			display: flex;
			justify-content: center;
			padding-right: 0;
		}
		.phone{
			margin: 0 auto;
		}
		.lang-wrapper{
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
			.lang{
				padding: 0 10px 10px;
				left: auto;
				right: auto;
			}
		}
	}
	.block .head-page{
		justify-content: flex-end;
	}
	.footer .menu__list{
		flex-direction: column;
	}
	.footer .block__right{
		flex-direction: column;
	}
	.footer{
		.head-page{
			width: 100%;
			justify-content: center;
		}
	}
	.documents{
		flex-direction: column;
	}
	.catalog__list .card, .list2 .card{
		max-width: 50%;
	}
	.catalog__list .semi, .list2 .semi{
		max-width: 100%;
	}
	// cart
	.cart__list-item{
		flex-direction: column;
		.cart__list-img{
			width: 100%;
			height: 100%;
		}
	}
	// wish list 
	.likecatalog .card{
		max-width: 50%;
		min-height: auto !important;
	}
		// addressChange
	.address__wrapper{
		.address__label{
			max-width: 100%;
		}
	} 
	.address__list .check-default{
			justify-content: center;
			margin-bottom: 20px;
		}
		// change-account-info
	.data__wrapper .address__label{
		max-width: 100%;
	}
	// size-calculator
	.step1{
		.block__middle{
			flex-direction: column;
			.unit,
			.size-text{
				max-width: 100%;
			}
		}
		.block__weight{
			flex-direction: column;
			.weight,
			.size-text{
				max-width: 100%;
			}
		}
	}
	// contacts
	.contact{
		.contacts-data{
			svg{
				width: 30px;
			}
		}
	}
	// register
	.login__forms{
		.login__email{
			.login__list{
				.name-input{
					flex-direction: column;
					.login__item{
						max-width: 100%;
					}
				}
			}
		}
	}
	// account
	.hello__block{
		flex-direction: column;
		gap: 20px;
	}
	// order
	.order-page{
		.products__list{
			.order__product__item{
				.price{
					margin-left: 0;
				}
			}
		}
	}
	// cart modal
	.cart-wrapper{
		max-width: 80%;
	}
}
@media screen and (max-width: 414px){
	.filter__block{
		padding: 0 10px;
	}
	.filter__title{
		    padding: 0 10px 23px;
	}
	.size__list{
		flex-wrap: wrap;
	}
	.bread-link,
	.bread-text,
	.bread-sep {
		font-size: 11px;
	}
	// wish list 
	.likecatalog .card{
		max-width: 100%;
	}
	// 
	.step2,
	.step3{
		.block__middle{
			.shape__list{
				flex-direction: column;
				.shape__item{
					max-width: 100%;
				}
			}
		}
	}
	// account
	.mySwiper4 .swiper-slide{
		justify-content: flex-start;
	}
		.mySwiper4 .card .thing .price{
			flex-direction: column;
		}
	// modal
	.modal__text{
		flex-direction: column;
	}
	.register__text{
		flex-direction: column;
	}
}