.order__box{
	width: 100%;
	margin-top: 33px;
}
.table{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid rgba(136, 140, 149, 0.15);
}
.table__head,
.table__body{
	width: 100%;
}
.table__head-box{
	width: 100%;
	padding: 10.9px 15px;
   display: flex;
	justify-content: space-between;
	border-top: 1px solid rgba(136, 140, 149, 0.15);
}
.table__head-name{
	width: 13%;
	@include fonts($roboto, 15px, 300, 25px, $grey);
	text-align: left;
}
.table__list{
	padding: 10.9px 15px;
   display: flex;
	// gap: 40px;
	justify-content: space-between;
	border-top: 1px solid rgba(136, 140, 149, 0.15);
	width: 100%;
	position: relative;
}
.table__item{
	width: 13%;
	@include fonts($roboto, 15px, 300, 25px, $black);
	text-align: left;
	
	.status-data{
		position: relative;
	}
}
	.waiting{
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: $yellow;
	right: -10px;
	top: 0;
	border-radius: 50%;
	}
.accepted{
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: #73d21f;
	right: -10px;
	top: 0;
	border-radius: 50%;
}
.canceled{
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: #dc1e1e;
	right: -10px;
	top: 0;
	border-radius: 50%;
}
	
.table__list:hover::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	
}
.table__list:hover{
	.order__info{
		color: $current;
	}
}
.table__bold{
	font-weight: 500;
}
.order__details{
	margin-top: 33px;
   display: flex;
 	width: 100%;
   gap: 30px;
}
.order__wrapper{
	display: flex;
	gap: 30px;
	margin-bottom: 100px;
}
.order__list{
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;
   max-width: 50%;
}
.products__list{
	width: 100%;
   max-width: 50%;
	.sort-top{
		justify-content: flex-start;
	}
}
.order__item{
	.data__list{
		margin-top: 20px;
		display: none;
	}
}
.order__inner{
	width: 100%;
	margin-top: 20px;
	display: none;
}
.order__row{
	display: flex;
	gap: 20px;
	.table__head-name{
		width: 100%;
		max-width: 30%;
	}
	.table__item{
		width: 100%;
		max-width: 70%;
	}
}
.order__product__list{
	display: none;
	flex-direction: column;
	gap: 15px;
	.subtotal{
		padding: 0;
	}
	.total{
		padding: 0;
		.currency{
			color: $black;
		}
	}
	.price{
		font-weight: 300;
	}
	.total-sum{
		font-weight: 500;
	}
}
.order__product__item{
	position: relative;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	
	.card__img{
		width: 80px;
		height: 100px;
		border-radius: 25px;
	}
	.item-name{
		color: $black;
		font-weight: 500;
	}
	.item-color,
	.item-size{
		font-weight: 500;
		span{
			font-weight: 300;
		}
	}
	.color-data{
		font-weight: 300;
	}
	.price{
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		color: $black;
		.discount{
			color: rgb(200, 200, 200);
			text-decoration: line-through;
		}
	}
}
.order__product__item::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(136, 140, 149, 0.35);
}