.simple__page{
	background-image: url('./../img/headbaner.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 550px;
	padding-bottom: 25px;
	background-color: $black;
	border-radius: 25px;
	align-items: flex-end;
	position: relative;
	.title,
	.bread-link,
	.bread-sep,
	.bread-text{
		color: $white;
		z-index: 10;
	}
}
.simple__page::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.65);
}
.simple{
	padding-top: 33px;
	h2{
		margin: 55px auto;
		@include fonts($roboto, 50px, 900, 50px, $grey);
		text-transform: uppercase;
		text-align: center;
	}
	h3{
		margin: 55px auto 35px;
		@include fonts($roboto, 40px, 900, 50px, $grey);
		text-transform: uppercase;
		text-align: center;
	}
	h4{
		margin: 45px auto 35px;
		@include fonts($roboto, 30px, 700, 40px, $grey);
		text-transform: uppercase;
		text-align: center;
	}
   p{
		margin-bottom: 35px;
	}
	ul{
		margin-inline-start: 30px;
		margin-bottom: 35px;
	}
	li{
		margin-bottom: 25px;
	}
	li::marker{
		color: $current;
	}
}
.simple__border{
	border-top: 1px solid rgba(136, 140, 149, 0.25)
}