.likecatalog{
	padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
	 padding-bottom: 50px;
	.card{
		max-width: 33%;
	}
}
.list__wrapper{
	display: flex;
	gap: 30px;
	.list{
		width: 100%;
		margin-top: 0;
	}
	.sidebar-account{
		margin-top: -77px;
	}
}
.check-default,
.account,
.subscriptions,
.returns,
.address,
.points,
.calculator,
.wish-list,
.history,
.info,
.log-out{
	position: relative;
	z-index: -1;
	.custom-radio{
		display: none;
	}
	.custom-radio+label {
		display: inline-flex;
		align-items: center;
		user-select: none;
		text-transform: uppercase;
		font-weight: 500;
		color: $grey;
	}
	.custom-radio+label::before {
		content: '';
		display: flex;
		align-items: center;
		justify-content: center;
		width: 12px;
		height: 12px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 2px solid $grey;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		margin-right: 5px;
	}
	.custom-radio:checked+label::before {
		border-color: transparent;
		background-color: $white;
		background-image: url('./../img/dottedpink.png');
		background-size: 14px 14px;
	}
}
.check-default{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 1;
	.custom-radio + label{
		color: $black;
		text-transform:none;
	}
}
.sidebar-account{
	margin-top: 33px;
	max-width: 430px;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: rgba(136, 140, 149, 0.15);
	padding: 44px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.sidebar-hide{
	display: none;
}
.address__block{
	display: flex;
	flex-direction: column;
	margin-top: 33px;
}
.address__wrapper{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.address__container{
	display: flex;
	gap: 30px;
	margin-bottom: 100px;
}
.address__label{
	max-width: 48%;
	width: 100%;
	border: 1px solid rgba(136, 140, 149, 0.35);
	border-radius: 25px;
	padding: 11.7px 20px;
}
.address__input{
	border: none;
	outline: none;
	width: 100%;
}
.address__input::placeholder{
	@include fonts($roboto, 12px, 400, 50px, $grey);
	opacity: 0.65;
}
.address___btn{
	max-width: 430px;
	width: 100%;
	border: none;
	cursor: pointer;
}
.address__checkbox{
	margin-top: 45px;
	margin-bottom: 45px;
}
.address__checkout {
      position: absolute;
      z-index: -1;
      opacity: 0;
   }
   .address__checkout+label {
      display: inline-flex;
      align-items: center;
		gap: 10px;
      user-select: none;
   }
   .address__checkout+label::before {
      content: '';
      display: flex;
		align-items: center;
		justify-content: center;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 2px solid $grey;
      border-radius: 6px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70% 70%;
   }
   .address__checkout:checked+label::before {
      background-image: url("./../img/checkbox-pink.png");
   }
	.address__list{
		margin-top: 33px;
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100%;
	}
	.address__item{
		background-color: rgba(136, 140, 149, 0.35);
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-radius: 25px;
		padding: 32px 30px;
	}
	.data__list{
		display: flex;
		flex-direction: column;
		.data-person{
			display: flex;
			gap: 5px;
		}
	}
	.address__box{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.address__buttons{
		display: flex;
		align-items: center;
		gap: 30px;
		.change__btn{
			cursor: pointer;
			border: none;
			background-color: rgb(255, 66, 201);
			text-decoration: none;
			@include fonts($roboto, 12px, 900, 30px, $white);
			text-transform: uppercase;
			text-align: center;
			border-radius: 25px 0 0 25px;
			width: 170px;
			padding: 10px 0;
		}
		.remove__btn{
			cursor: pointer;
			text-decoration: none;
			border: none;
				background-color: $grey;
			text-decoration: none;
			@include fonts($roboto, 12px, 900, 30px, $white);
			text-transform: uppercase;
			text-align: center;
			border-radius: 0 25px 25px 0;
			width: 170px;
			padding: 10px 0;
		}
	}
	.add__btn{
		cursor: pointer;
		border: none;
		border-radius: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 200px;
		width: 100%;
		height: 50px;
		background-color: $yellow;
		text-decoration: none;
		position: relative;
	 .btn-text{
		@include fonts($roboto, 12px, 900, 30px, $grey);
		text-transform: uppercase;
		margin: 0 auto;
	 }
	 .arrow{
		position: absolute;
		right: 5px;
			background-color: $white;
			border-radius: 20px;
			padding: 8.5px 8px;
			display: flex;
		}
	}
	.change__wrapper{
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-bottom: 100px;
	}
	.change__container{
		margin-top: 33px;
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
	}
	.data__box,
	.password__box{
		.sort-top{
			justify-content: flex-start;
			margin-bottom: 25px;
		}
	}
	.data__wrapper{
		display: none;	
		flex-wrap: wrap;
		gap: 30px;
	}
	.data-visible{
		display: flex;
	}